html, body {
height: 100%;
}
head {
display: none;
}
body {
position: relative;
margin: 10px;
font-family: "Rubik";
font-size: 16px;
margin: 0;
}
nav, header, section, footer {
display: block;
}
img {
border-style: none;
}
h3 {
font-size: 1.17em;
font-weight: bold;
margin: 0;
}
* {
box-sizing: border-box;
}
.container {
margin: auto;
max-width: 1184px;
padding: 0 32px;
position: relative;
width: 100%;
z-index: 10;
}
a, a:active {
text-decoration: none;
color: #000;
cursor: pointer;
}
a:hover {
color: #E50046;
}
div {
display: block;
}
header {
height: 110px;
}
.fleks {
display: flex;
flex-direction: row;
margin: auto;
min-height: 100%;
overflow: hidden;
padding-left: 32px;
padding-right: 32px;
justify-content: center;
align-items: center;
}
.navigation {
font-size: 16px;
font-weight: 500;
line-height: 19px;
padding-bottom: 0px;
}
.list {
display: inline-flex;
flex-basis: auto;
margin: auto;
padding: 0px;
margin-right: 0px;
list-style-type: none;
text-align: center;
}
.logo {
padding-top: 0px;
padding-left: 0px;
padding-right: 32px;
}
.search {
border: none;
padding-right: 48px;
}
.search input[type="search"]:focus {
width: 200px;
height: 10px;
z-index: 1;
border: 1px solid rgba(229, 0, 70, 1);
}
.search input[type="search"] {
width: 28px;
min-height: 28px;
border: none;
outline: none;
z-index: 2;
transition: .4s linear;
background: url(img/search.svg) no-repeat 99% 50%;
}
.subtract {
padding-top: 0px;
padding-right: 8px;
padding-bottom: 0px;
}
.adress {
padding-top: 0px;
padding-right: 32px;
padding-bottom: 0px;
color: #E50046;
}
.adress_color {
color: #E50046;
}
.number {
font-size: 20px;
padding: 16px 40px 16px 24px;
background: #E50046;
border: none;
box-shadow: 0 3px 6px rgb(229 0 70 / 24%);
color: #FFFFFF;
display: flex;
justify-content: center;
line-height: 1;
outline: none;
position: relative;
text-decoration: none;
transform-origin: bottom;
border-radius: 32px;
transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.number:hover {
transform: scale(1.05);
box-shadow: 0 8px 10px rgb(229 0 70 / 24%);
}
.number_text {
line-height: 24px;
}
.phone_icon {
height: 24px;
margin-right: 12px;
top: calc(50% - 24px/2);
}
.nav_li {
padding-right: 32px;
padding-bottom: 0px;
}
.nav_link {
font-weight: 550;
transition: 0.2s ease-out;
}
main {
display: block;
}
.heading {
display: block;
align-items: center;
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
padding: 47px 0;
}
.breadcrumbs {
display: flex;
flex-direction: row;
align-items: center;
padding-top: 0px;
padding-left: 400px;
margin: 368px;
}
.breadcrumbs_item {  
display: flex;
margin-bottom: 14px;
}
.breadcrumbs_item::after {
color: #EEE;
content: '/';
display: block;
margin: 0 4px;
}
.breadcrumbs_item_color {
color: #8B929E;
}
.breadcrumbs_item_last {
display: flex;
margin-bottom: 16px;
color: #8B929E;
}
.breadcrumbs__text {
color: #E50046;
}
.breadcrumbs__text::selection {
background: #E50046;
color: #FFF;
}
.price {
background: rgba(0, 0, 0, 0.02);
border-radius: 12px;
flex: 0 0 256px;
height: 51px;
}
.head_move {
display: flex;
justify-content: space-between;
align-items: center;
}
.head_title {
display: block;
}
.price_text {
display: flex;
justify-content: space-around;
}
.price_span {
font-style: normal;
font-size: 18px;
line-height: 50px;
font-weight: normal;
color: #000000;
}
.signup_mother {
margin-bottom: 48px;
}
.signup_container {
position: relative;
}
.signup {
display: flex;
justify-content: space-between;
align-items: center;
}
.container {
margin: auto;
max-width: 1184px;
padding: 0 32px;
position: relative;
width: 100%;
}
.signup_title {
font-size: 24px;
margin-bottom: 48px;
}
.attention {
background: rgba(229, 0, 70, 0.04);
border-radius: 25px;
font-size: 14px;
float: right;
margin-top: -6px;
padding: 12px 12px 12px 49px;
font-weight: 500;
max-width: 457px;
}
.attention_alert {
position: relative;
color: #E50046;
}
.attention_alert::before {
content: "";
background-image: url(../img/alert-triangle.svg);
width: 22px;
height: 20px;
position: absolute;
left: -28px;
top: -4px;
z-index: 9;
}
.form_tree {
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
margin-bottom: 40px;
}
.form_width {
width: 100%;
}
.form_field {
margin-right: 32px;
max-width: 30%;
}
.form_item {
margin-bottom: 24px;
position: relative;
display: inline-block;
}
.kuku {
background: url(img/Union.svg);
}
.form_tree input[type="text"], .form_tree input[type="tel"] {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
border: 0;
background: none;
display: block;
border: 1px solid rgba(238, 238, 238, 1);
padding-left: 24px;
padding-top: 16px;
width: 352px;
padding-bottom: 16px;
border-radius: 32px;
z-index: 0;
outline: none;
user-select: none;
}
.form_tree input[class="kuku"] {
background: url(img/Union.svg) no-repeat 95% 50%;
}
.form_tree input[list="врач"] {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
border: 0;
background: none;
display: block;
border: 1px solid rgba(238, 238, 238, 1);
padding-left: 24px;
padding-top: 16px;
width: 352px;
padding-bottom: 16px;
border-radius: 32px;
z-index: 0;
outline: none;
background: url(img/Stroke.svg) no-repeat 95% 50%;
}
input::-webkit-calendar-picker-indicator {
display: none;
}
.form_tree input[type="submit"] {
border: 0;
background: #E50046;
font-family: Rubik;
font-style: normal;
color: #FFFFFF;
font-weight: 550;
font-size: 16px;
line-height: 51px;
width: 352px;
border-radius: 32px;
transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
cursor: pointer;
}
input[type="submit"]:hover {
transform: scale(1.05);
box-shadow: 0 8px 10px rgb(229 0 70 / 24%);
}
input[list="врач"]:focus, input[type="tel"]:focus, input[type="text"]:focus {
border-color: #E50046;
}
.form_margin {
margin-top: 18px;
}
.form_label {
left: 16px;
top: 20px;
color: rgba(139, 146, 158, 1);
cursor: text;
padding: 0 8px;
position: absolute;
transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 14px;
z-index: 9;
}
.label_service {
left: 18px;
top: -6px;
color: rgba(139, 146, 158, 1);
cursor: text;
padding: 0 8px;
position: absolute;
font-size: 12px;
border: 1px;
background-color: #FFFFFF;
z-index: 9;
}
.form_tree .form_field input:focus ~ label {
top: -6px;
left: 18px;
color: rgba(229, 0, 70, 1);
font-size: 12px;
border: 1px;
background-color: #FFFFFF;
}
hr {
box-sizing: content-box;
height: 0;
overflow: visible;
}
.divider {
border: none;
border-bottom: 1px solid #EEE;
margin: 0;
}
.team {
position: relative;
margin-bottom: 80px;
}
.team_container {
margin: auto;
max-width: 1184px;
padding: 0 32px;
position: relative;
width: 100%;
}
.team_title {
margin-bottom: 48px;
font-size: 24px;
font-weight: 550;
}
figure {
margin: 0px;
}
.team_members {
display: flex;
flex-wrap: wrap;
}
.team_member {
display: flex;
align-items: flex-start;
margin-right: 32px;
width: 31.4%;
padding-bottom: 20px;
}
.member_canvas {
height: 96px;
width: 96px;
margin-bottom: 0;
margin-right: 24px;
flex: 0 0 96px;
transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.member_image {
display: block;
border-radius: 50%;
max-height: 100%;
max-width: 100%;
transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.team_member:hover .member_canvas {
transform: scale(1.05);
}
.team_member:hover .member_title {
color: #E50046;
}
.member_content {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.member_title {
font-weight: 550;
font-style: normal;
font-size: 20px;
line-height: 24px;
color: #000000;
margin-bottom: 12px;
}
.member_subtitle {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
margin-bottom: 12px;
}
.member_time {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #8B929E;
margin-bottom: 10px;
}
.member_day {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #8B929E;
margin-bottom: 16px;
}
.link_box {
display: flex;
align-items: center;
font-size: 14px;
font-weight: 500;
}
.member_link {
font-style: normal;
font-weight: 550;
font-size: 14px;
line-height: 17px;
color: #E50046;
border-bottom: 1px solid rgba(229, 0, 70, 0.24);
margin-bottom: -4px;
padding-bottom: 4px;
transition: 0.2s ease-out;
}
.member_link:hover {
border-color: #e50046;
}
.arrow {
opacity: 0;
margin-left: 4px;
transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.link_box:hover .arrow {
opacity: 1;
transform: translateX(0);
}
.about {
position: relative;
z-index: 1;
}
.about_container {
position: relative;
width: 100%;
margin: auto;
max-width: 1120px;
}
.about_content {
display: flex;
flex-wrap: wrap;
}
.about_content_first {
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 160%;
padding-bottom: 32px;
}
.about_content_second {
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 160%;
}
footer {
position: relative;
padding: 28px 0 28px;
margin-top: 84px;
}
.footer_container {
display: flex;
justify-content: space-between;
height: 100%;
padding: 0 32px;
margin: 0 208px;
}
.foot_logo {
z-index: 1;
}
.instagram {
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 0 -380px;
}
.inst_logo {
margin-bottom: 16px;
}
.inst_link {
margin-left: 6px;
padding-bottom: 6px;
font-style: normal;
font-weight: 550;
font-size: 14px;
line-height: 17px;
color: #E50046;
border-bottom: 1px solid rgba(229, 0, 70, 0.24);
}
.inst_link:hover {
border-color: #e50046;
}
.background_shape {
bottom: 0;
left: 0;
overflow: hidden;
position: absolute;
right: 0;
top: 0;
z-index: -1;
}
.background_shapes__shape {
position: absolute;
max-width: 100%;
}